{
  "baseURL": "{{ gravitee_apim_console_ui_baseurl }}",
  "management" : {
    "title" : "{{ gravitee_apim_console_ui_tittle}}"
  },
  "newsletter" : {
    "enabled" : {{ gravitee_apim_console_ui_newsletter }}
  }
}